:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;

  font-size: 16px;
  line-height: 2;

  color: var(--wenge-brown);
  background-color: var(--eggshell);
}

li b {
  color: var(--dark-charcoal);
}

ul,
ol {
  margin-top: 26px;
  padding-left: 10px;

  & li {
    margin: 16px;
    padding-left: 12px;
  }

  & li::marker,
  & li::marker {
    color: var(--nutmeg);
    font-weight: bold;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 30px auto 0;

  background-color: var(--white);
  border-radius: 50px;

  @media screen and (min-width: 375px) {
    width: 375px;
    padding: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 40px;
  }
}

.inner-container {
  margin-top: 26px;
  padding: 0 30px;

  @media screen and (min-width: 768px) {
    padding: 0px;
  }
}

.image-wrapper {
  overflow: hidden;

  @media screen and (min-width: 768px) {
    border-radius: 15px;
  }
}

.recipe__title {
  font-family: "Young Serif", serif;
  font-size: 32px;

  color: var(--dark-charcoal);

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.recipe__description {
  margin-top: 20px;
}

.prep-time {
  margin-top: 26px;
  padding: 20px;

  background-color: var(--rose-white);
  border-radius: 10px;
}
.prep-time__title {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-raspberry);
}

.section {
  padding: 26px 0;

  &:not(:last-child) {
    border-bottom: solid 1px grey;
  }

  & h2 {
    font-family: "Young Serif", serif;
    font-size: 30px;

    color: var(--nutmeg);
  }

  & p {
    margin-top: 26px;
  }
}

table {
  display: block;
  margin-top: 26px;
}

tbody {
  display: block;
}

tr {
  display: flex;
  padding: 10px 26px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--light-grey);
  }

  & td {
    display: block;
    width: 50%;

    &:nth-child(2) {
      font-weight: bold;
      color: var(--nutmeg);
    }
  }
}

.attribution {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
